*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: colors.$background--dark;
  --font-color: black;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
}

body {
  background: linear-gradient(to bottom right, #54BAB9, 60%, #54BAB9);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  padding: 4rem;
  font-family: "Noto Sans";
}

@keyframes popup {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}
.header {
  width: 80vh;
  max-width: 150rem;
  min-height: 15rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #F1F0E8;
  padding: 4rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  animation-name: popup;
  animation-duration: 0.8s;
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}
.header__logo {
  font-size: 200%;
  color: #F1F0E8;
  border-radius: 50%;
  background: linear-gradient(to bottom right, #54BAB9, 60%, #54BAB9);
  border: 0.2rem dashed transparent;
  box-sizing: border-box;
  backface-visibility: hidden;
  width: 8rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo:hover {
  color: #96B6C5;
  background: transparent;
  box-sizing: border-box;
  transform: rotate(360deg);
  transition: 0.6s all;
  transition-timing-function: linear;
  border: 0.2rem dashed transparent;
}
.header__rightwrapper {
  display: flex;
  gap: 4rem;
  align-items: center;
}
.header__avatar {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}
.header__avatar:hover {
  transform: rotate(360deg);
  transition: 0.8s all;
  transition-timing-function: linear;
}
.header__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.header__toggle {
  appearance: none;
  width: 9rem;
  height: 4rem;
  border-radius: 5rem;
  position: relative;
  background: #183D3D;
}
.header__toggle:hover {
  cursor: pointer;
}
.header__toggle::after {
  content: "";
  position: absolute;
  height: 5rem;
  width: 5rem;
  background: linear-gradient(to bottom right, #54BAB9, 60%, #54BAB9);
  border-radius: 50%;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}
.header__toggle:checked {
  background: #F1F0E8;
}
.header__toggle:checked::after {
  left: 80%;
}

.showcase {
  width: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem;
  gap: 4rem;
  background: #F1F0E8;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: inset 0 -1rem 2rem 0 rgba(84, 186, 185, 0.4);
  max-width: 150rem;
  animation-name: popup;
  animation-duration: 0.8s;
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  color: black;
}
.showcase__input {
  font-size: 100%;
  padding: 2rem;
  padding-left: 0;
  width: 50%;
  border: none;
  background: none;
  border-bottom: 0.2rem solid #54BAB9;
  color: black;
}
.showcase__input:focus {
  outline: none;
}
.showcase__section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.showcase__wrapper {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.showcase__wrapper:before {
  transform: translateX(-50%);
}
.showcase__wrapper:after {
  transform: translateY(-50%);
}
.showcase__font {
  font-size: 150%;
  font-weight: 400;
}
.showcase__heart {
  font-size: 120%;
  color: #54BAB9;
}
.showcase__heart:hover {
  cursor: pointer;
}
.showcase__heart.fa-solid {
  color: #54BAB9;
}
.showcase__output {
  font-size: 250%;
}
.showcase__output--cursive {
  font-weight: 400;
  font-family: "Dancing Script", cursive;
}
.showcase__output--sansserif {
  font-weight: 400;
  font-family: "Lato", sans-serif;
}
.showcase__output--serif {
  font-weight: 400;
  font-family: "Merriweather", serif;
}

@media screen and (max-width: 62.5rem) {
  body {
    padding: 1rem;
  }
  .showcase, .header {
    width: calc(100vw - 1rem - 1rem);
  }
  .showcase__input {
    width: 80%;
  }
}
@media screen and (max-width: 37.5rem) {
  .body {
    font-size: 1.6rem;
  }
  .header {
    flex-direction: column;
    gap: 4rem;
  }
  .header__rightwrapper {
    flex-direction: column;
  }
  .showcase__input {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
